<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Hoc ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe src="https://drive.google.com/file/d/1Dt1fqIdanzoWX-WacepQOHesiSxLSxjz/preview" width="640" height="480"></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>